.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 1rem;
  }
  
  .logo{
    margin: 0;
    color: #fff; 
    text-decoration: none;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 1rem;
    text-decoration: none;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-right: 0.5rem;
  }
  
  .search-btn {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: #fff;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #777;
  }
  

  .logo-link {
    text-decoration: none;
    color: #fff;
  }
  